doctype html
html(lang='en')
    head
        title= title
    body
        form(action="/api/vit/uploadphoto", method="post", enctype="multipart/form-data")
            input(type="file", name="studentPhoto")
            input(type="submit")
